<main>
    <div class="sign-in-content">
      <h3>{{'Sign In' | transloco}}</h3>
      <p class="title-of-sign-up">{{'Welcome Back!' | transloco}}</p>
      <div class="underline"></div>
      <div class="form-content">
        <form action="" [formGroup]="myForm" (submit)="onSubmit(myForm)">
          <div class="email w-100">
            <input
              class="w-100"
              type="email"
              placeholder="Email"
              formControlName="email"
              [ngClass]="getErrors('email') ? 'error-border' : ''"
            />
            <div *ngIf="getErrors('email')" class="alert">
              <div *ngIf="myForm.controls['email'].errors?.['required']">
                Please enter email
              </div>
            </div>
          </div>
          <div class="password w-100">
            <input
              class="w-100"
              type="password"
              placeholder="Password"
              formControlName="password"
              [ngClass]="getErrors('password') ? 'error-border' : ''"
            />
            <div *ngIf="getErrors('password')" class="alert">
              <div *ngIf="myForm.controls['password'].errors?.['required']">
                Please enter password
              </div>
            </div>
          </div>
          <div class="success-log-in w-100" *ngIf="enter">
            <div>
                <img src="../../assets/success-icon.png" alt="success-logo">
                <p>{{"Thank you" | transloco}}</p>
            </div>
          </div>
          <div class="error" *ngIf="!isValid">
              <p>
                  Invalid Email or password
              </p>
          </div>
          <div class="submit-register_as_donor d-flex-jsc-c-ali-c w-100">
            <a href="#">{{'Register as a Donor' | transloco}}</a>
            <button [disabled]="myForm.status === 'INVALID'">Ok</button>
          </div>
        </form>
      </div>
    </div>
</main>