<main>
  <div class="sign-up-content">
    <h3>{{ "Sign Up" | transloco }}</h3>
    <p class="title-of-sign-up">{{ "It’s quick and easy." | transloco }}</p>
    <div class="underline"></div>
    <div class="form-content">
      <form action="" [formGroup]="myForm" (submit)="onSubmit(myForm)">
        <div class="name-lastname">
          <div class="w-100">
            <input
              type="text"
              placeholder="{{ 'Name' | transloco }}"
              formControlName="name"
              [ngClass]="getErrors('name') ? 'error-border' : ''"
            />
            <div *ngIf="getErrors('name')" class="alert">
              <div *ngIf="myForm.controls['name'].errors?.['required']">
                Please enter username
              </div>
            </div>
          </div>
          <div class="w-100">
            <input
              type="text"
              placeholder="{{ 'Lastname' | transloco }}"
              formControlName="lastname"
              [ngClass]="getErrors('lastname') ? 'error-border' : ''"
            />
            <div *ngIf="getErrors('lastname')" class="alert">
              <div *ngIf="myForm.controls['lastname'].errors?.['required']">
                Please enter lastname
              </div>
            </div>
          </div>
        </div>
        <div class="email w-100">
          <input
            class="w-100"
            type="email"
            placeholder="{{ 'Email' | transloco }}"
            formControlName="email"
            [ngClass]="getErrors('email') ? 'error-border' : ''"
          />
          <div *ngIf="getErrors('email')" class="alert">
            <div *ngIf="myForm.controls['email'].errors?.['required']">
              Please enter email
            </div>
          </div>
        </div>
        <div class="tel w-100">
          <input
            class="w-100"
            type="tel"
            placeholder="+374 99999999"
            formControlName="tel"
            [ngClass]="getErrors('tel') ? 'error-border' : ''"
          />
          <div *ngIf="getErrors('tel')" class="alert">
            <div *ngIf="myForm.controls['tel'].errors?.['required']">
              Please enter telephone
            </div>
          </div>
        </div>
        <div class="w-100">
          <select
            class="w-100 select"
            name="region"
            id="region"
            formControlName="region"
            [ngClass]="showRegionErr ? 'error-border' : ''"
            (change)="onChange($event, 'region')"
          >
            >
            <option value="">{{ "Region" | transloco }}</option>
            <option value="" *ngFor="let item of region" [ngValue]="item">
              {{ item }}
            </option>
          </select>
          <div *ngIf="showRegionErr" class="alert">Select the region</div>
        </div>
        <div class="w-100">
          <div
            class="w-100 school"
            [ngClass]="showSchoolErr ? 'error-border' : ''"
          >
            <div
              class="school-icon w-100 d-flex-jsc-c-ali-c"
              (click)="showSelect('school')"
            >
              <p>{{ selectSchool }}</p>
              <p><fa-icon [icon]="arrowDown"></fa-icon></p>
            </div>
            <div class="w-100 school-select" *ngIf="showSchool">
              <div *ngFor="let item of school">
                <p (click)="showSelected(item, 'school')">{{ item }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="showSchoolErr" class="alert">Select the school</div>
        </div>
        <div class="w-100">
          <div
            class="w-100 subject"
            [ngClass]="showSubjectErr ? 'error-border' : ''"
          >
            <div
              class="subject-icon w-100 d-flex-jsc-c-ali-c"
              (click)="showSelect('subject')"
            >
              <p>{{ selectSubject[0] }}</p>
              <p><fa-icon [icon]="arrowDown"></fa-icon></p>
            </div>
            <div class="w-100 subject-select" *ngIf="showSubject">
              <div *ngFor="let item of subjects; let idx = index">
                <div
                  class="w-100  subject-item-icon"
                >
                  <label [for]="idx" (click)="onChooseSubject(item,$event)">{{ item }}</label>
                  <input type="checkbox" [id]="idx" />
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showSubjectErr" class="alert">Select the subject</div>
        </div>
        <div class="password w-100">
          <input
            class="w-100"
            type="password"
            placeholder="{{ 'Password' | transloco }}"
            formControlName="password"
            [ngClass]="getErrors('password') ? 'error-border' : ''"
          />
          <div *ngIf="getErrors('password')" class="alert">
            <div *ngIf="myForm.controls['password'].errors?.['required']">
              Please enter password
            </div>
            <div *ngIf="myForm.controls['password'].value">
              Too short password.
            </div>
          </div>
        </div>
        <div class="confirm-password w-100">
          <input
            class="w-100"
            type="password"
            placeholder="{{ 'Confirm Password' | transloco }}"
            formControlName="confirmpassword"
            [ngClass]="getErrors('confirmpassword') ? 'error-border' : ''"
          />
          <div *ngIf="getErrors('confirmpassword')" class="alert">
            <div
              *ngIf="myForm.controls['confirmpassword'].errors?.['required']"
            >
              Confirm password
            </div>
          </div>
          <div *ngIf="!confirmPassword" class="alert">
            The passwords not the same
          </div>
        </div>
        <div class="submit-register_as_donor d-flex-jsc-c-ali-c w-100">
          <a href="#">{{ "Register as a Donor" | transloco }}</a>
          <button [disabled]="myForm.status === 'INVALID'">Ok</button>
        </div>
      </form>
    </div>
  </div>
</main>
